 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>Accelerated Tech, Inc is Jamey Hicks applying his software and hardware skills to build accelerated software solutions to your problems.
		  </p>
                </div>
                <div class="col-lg-4">
                  <p>[Under construction]
		  </p>
                </div>
            </div>
        </div>
    </section>
